@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font-all{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shard styles */
.display-flex{
    display: flex;  
}
.text-primary{
    color: #FF900E;
}
.bg-color-light{
    background-color:rgba(255, 144, 14, 0.1);
}
.btn-primary{
background-color: #FF900E;
color: white;
padding:20px 25px;
font-size: 1.25rem;
font-weight: 600;
border-radius: 8px;
border: none;
}
main{
    max-width: 1440px;
    margin:0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* dark 2 */
.text-gray{
    color: #424242; 
}

/* dark3 */
.text-light-gray{
color: #727272;
}

/* heaEr style */
/* navbar style */

.navbar{
    justify-content: space-between;
    align-items: center;

}
.brand{
    font-weight: 700px;
    font-size: 2.8rem;
}

.nav-items{
    list-style: none;
    margin-right: 20px;
    justify-content: space-between;

}
.nav-link{
    text-decoration: none;
    font-weight: 500px ;
    color:#424242 ;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto ;
}
/* banner related style */
.banner img{
align-items: center;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700px;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

/* features styles */
.team-features{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
}

#quick-list{
    font-weight: 500;

}
.features-description{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
}
/* feature section */
.features{
    gap: 100px;
}
#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(220, 217, 217, 0.6);
    margin-bottom: 20px;
    border-radius: 8px;
    margin-top: 0px;
    margin-bottom: 0px;

}
 .feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;

    }
    #experience-badge{
        padding: 45px 42px;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: -100px;
        margin-top: -100px;
    }
    #experience-yar{
        font-size: 4rem;
        font-weight: 700;

    }
    .features-section-img img{
        width: 100%;

    }
/* some fact related style */

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.fact{
    border: 1PX solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
    margin-bottom: 80px;
}
 /*sponsor section styles  */

 .sponsor-head{
    justify-items: center;
 }
.sponsor-head-title{
    font-size: 2.8rem;
    font-weight: 700;
    /* text-align: center; */
}
.sponsor-description{
    line-height: 24px;
    width: 530px;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
 filter: grayscale(100%);
}
/* responsive media */

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .team-features, .features{
        flex-direction: column;
    }
    .team-img-container, 
    .fact-container, .sponsor-companies {
        grid-template-columns: 1fr;

    }
    .fact-container, .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 24px;
    }
    .section-title, .text-light-gray{
        margin-left: 24px;
    }
    .sponsor-head, .sponsor-description {
        /* width: 50%; */
        padding: 24px;
    }
    .section-title, .text-light-gray fact-description{
        margin-left: 24px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}


/* medium size device  */
@media screen and (min-width: 576px) and (max-width: 992px){
    .team-features{
        flex-direction: column;   
    }
    .our-features{
        margin-left: 40px auto;
    }
    .sponsor-companies, .fact-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin-left: 24px;
    }