@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font-all{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shard styles */
.display-flex{
    display: flex;  
}
.bg-color-light{
    background-color:rgba(255, 144, 14, 0.1);
}
/* dark 2 */
.text-gray{
    color: #424242; 
}

/* dark3 */
.text-light-gray{
color: #727272;
}

/* heaEr style */
/* navbar style */

.navber{
    justify-content: space-between;

}

.nav-itmes{
    list-style: none;
    margin-right: 20px;
    justify-content: space-between;

}
.nav-link{
    text-decoration: none;
    font-weight: 500px ;
    color:#424242 ;
}
.navber, .bannar{
    max-width: 1440px;
    margin: 0 auto ;
}